/* config/sofle.dtsi - Shared split configuration */
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <behaviors/input_gestures_accel.dtsi>

&pointer_accel {
    /* Higher exponent = more "logarithmic" feel.
       1 = Linear, 2 = Quadratic (Commonly used), 3 = Cubic.
    */
    acceleration-exponent = <2>;
    /* 0.1x speed for tiny movements (precision) */
    min-factor = <100>;
    /* 2.0x speed for full joystick tilt (speed) */
    max-factor = <2000>;
    /* Speed at which acceleration starts (counts per second) */
    speed-threshold = <1500>;
    input-type = <INPUT_EV_REL>;
};

/ {
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        joystick_split: joystick_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    joystick_listener: joystick_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
        device = <&joystick_split>;
        input-processors = <&pointer_accel>, <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>;
    };
};
